* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 90vh;
    display: flex;
    align-items: center;
}

form {
    margin: 0 auto;
    max-width: 450px;
    padding: 20px;
    border: 1px solid #3189E1;
    border-radius: 8px;

}

.header {
    height: 10vh;
}

.wrap-btn {
    display: flex;
    justify-content: center;
}

.wrap-btn button {
    padding: 5px 30px;
    margin: 0 20px;
}

.list-group {
    margin-bottom: 30px;
    max-width: 450px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    color: #3189E1;
    font-weight: 500;
}

